.SignUpCard {
  background-color: #720f04;
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-ser;

}

.submitButton { 
    background-color: white;
    text-decoration: whitesmoke;
}