* {
  background-color: #b21807;
}

.PizzaTContainer {
}

.PizzaTitle {
  background: color #b21807;
  font-family: "Helvetica", "Calibri";

  font-size: calc((200vw) / 7);
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}
